name: realsense_launch

services:
  realsense_launch:
    environment:
      - realsense_launch
      - DISPLAY
    build:
      context: ..
      dockerfile: docker/Dockerfile
    #deploy:
    #  resources:
    #    limits:
    #      cpus: '0.001'
    #      memory: 500M
    #    reservations:
    #      cpus: '0.0001'
    #      memory: 100M
    # privileged: true
    network_mode: host
    ipc: host
    volumes:
      - /dev:/dev
      - $XAUTHORITY:/root/.Xauthority
      - ../src:/ros2_ws/src
    tty: true
    device_cgroup_rules:
      - 'c 81:* rmw'
      - 'c 189:* rmw'
    #command: sleep infinity
    command: ros2 launch realsense_launch init.launch.py
    #restart: unless-stopped
