<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="nodelet_manager_name" default="rs_pipeline_manager" />
  <arg name="device_type" default="d435i" />
  <!--<arg name="device_type" default="d435" />-->
  <!--<arg name="device_type" default="d415" />-->
  <arg name="fps" default="15" />
  <arg name="rviz" default="true" />
  <arg name="name_space" default="rs_camera_1" />
  <arg name="stand_alone" default="true" />
  <arg name="interactive_cropbox" default="true" />
  <!--<arg name="interactive_cropbox" default="false" />-->


  <!-- Camera Driver -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="external_manager" value="true"/>
    <arg name="manager" value="$(arg nodelet_manager_name)"/>
    <arg name="camera" value="$(arg name_space)"/> <!-- namespace for camera -->    
    <arg name="device_type" value="$(arg device_type)"/>
    <arg name="initial_reset" value="true"/>
    <arg name="enable_sync" value="true"/>
    <arg name="align_depth" value="true"/>

    <arg name="depth_width" value="640"/>
    <arg name="depth_height" value="480"/>
    <arg name="depth_fps" value="$(arg fps)"/>

    <arg name="color_width" value="640"/>
    <arg name="color_height" value="480"/>
    <arg name="color_fps" value="$(arg fps)"/>

    <!-- Dropped these as pointcloud output doesn't appear to work for the Noetic driver-->
    <!--<arg name="pointcloud" value="true"/>-->
    <!--<arg name="ordered_pc" value="true"/>-->
  </include>


  <!-- Nodelet Manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" ns="$(arg name_space)" />


  <!-- Depth Image Pipeline to Create RGB Cloud -->
  <group ns="$(arg name_space)">
    <include file="$(find realsense_launch)/launch/depth_2_rgbcloud.launch">
      <arg name="external_manager" value="true"/>
      <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)"/>
    </include>
  </group>


  <!-- Pointcloud Processing Pipleine 1 -->
  <group ns="$(arg name_space)/pcl_pipeline_1">
    <include file="$(find realsense_launch)/launch/pcl_pipeline.launch">
      <arg name="input_topic" value="$(arg name_space)/color/pointcloud"/>
      <arg name="external_manager" value="true"/>
      <!-- Need to use global path to nodelet manager when nodelets are in a separate namespace -->
      <arg name="nodelet_manager_name" value="/$(arg name_space)/$(arg nodelet_manager_name)"/>
      <arg name="interactive_cropbox" value="$(arg interactive_cropbox)"/>
    </include>
    <param name="crop_box/input_frame" value="pcl_crop_box_1"/>
  </group>

  <!-- Pointcloud Processing Pipleine 2 -->
  <group ns="$(arg name_space)/pcl_pipeline_2">
    <include file="$(find realsense_launch)/launch/pcl_pipeline.launch">
      <arg name="input_topic" value="$(arg name_space)/color/pointcloud"/>
      <arg name="external_manager" value="true"/>
      <!-- Need to use global path to nodelet manager when nodelets are in a separate namespace -->
      <arg name="nodelet_manager_name" value="/$(arg name_space)/$(arg nodelet_manager_name)"/>
      <arg name="interactive_cropbox" value="$(arg interactive_cropbox)"/>
    </include>
    <param name="crop_box/input_frame" value="pcl_crop_box_2"/>
  </group>


  <!-- Interactive Crop Box 1 -->
  <group if="$(arg interactive_cropbox)">
    <include file="$(find pcl_cropbox_setter)/launch/init.launch">
      <arg name="name_space" value="$(arg name_space)/pcl_pipeline_1"/>
      <arg name="configuration" value="fixture_1.yaml"/>
      <arg name="rviz" value="false"/>
    </include>
    <param name="$(arg name_space)/pcl_pipeline_1/cropbox_setter/child_frame" value="pcl_crop_box_1"/>
  </group>


  <!-- Interactive Crop Box 2 -->
  <group if="$(arg interactive_cropbox)">
    <include file="$(find pcl_cropbox_setter)/launch/init.launch">
      <arg name="name_space" value="$(arg name_space)/pcl_pipeline_2"/>
      <arg name="configuration" value="fixture_2.yaml"/>
      <arg name="rviz" value="false"/>
    </include>
    <param name="$(arg name_space)/pcl_pipeline_2/cropbox_setter/child_frame" value="pcl_crop_box_2"/>
  </group>


  <group if="$(arg stand_alone)">
    <!-- Camera Descriptions -->
    <group if="$(eval arg('device_type') == 'd415')">
      <param name="robot_description" command="$(find xacro)/xacro '$(find realsense_launch)/urdf/test_d415_camera.urdf.xacro' use_nominal_extrinsics:=true add_plug:=true use_mesh:=true name_space:=$(arg name_space)" />
    </group>


    <group if="$(eval arg('device_type') == 'd435i')">
      <param name="robot_description" command="$(find xacro)/xacro '$(find realsense_launch)/urdf/test_d435i_camera.urdf.xacro' use_nominal_extrinsics:=true add_plug:=true use_mesh:=true name_space:=$(arg name_space)" />
    </group>

    <group if="$(eval arg('device_type') == 'd435')">
      <param name="robot_description" command="$(find xacro)/xacro '$(find realsense_launch)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=true add_plug:=true use_mesh:=true name_space:=$(arg name_space)" />
    </group>


    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>

  <!-- RViz -->
  <group if="$(arg rviz)">
    <node if="$(arg interactive_cropbox)" type="rviz" name="rviz" pkg="rviz" args="-d $(find realsense_launch)/rviz/viewer_interactive_cropbox_multiple_cropbox.rviz" />
    <node unless="$(arg interactive_cropbox)" type="rviz" name="rviz" pkg="rviz" args="-d $(find realsense_launch)/rviz/viewer.rviz" />
  </group>


</launch>
